.checkboxCSS {
	padding-left: 0px;
}

.formTitle {
	font-size: 1rem;
	padding-top: 20px;
	font-weight: 300;
	padding-bottom: 0px;
}

.checkboxTitle {
	font-weight: 300;
}

.checkboxItem {
	padding-right: 20px;
}

.targetName {
	padding-bottom: 30px;
}

.protocol {
	list-style: none;
	list-style-type: none;

}

.protocollist {
	padding-left: 0px;
}

.page-header {
	padding-top: 50px;
}

.formElement {
	padding-top: 15px;
	padding-left: 0px;
}

.profileTitle {
	padding-bottom: 20px;
}

.listgroup {
	padding-bottom: 15px;
}

.purchaseBtn {
	text-align: center;
}

.listDiv {
	padding-bottom: 5px;
}

.createTitle {
	padding-bottom: 15px;
}

.compatiblityOptions {
	display: block;
}

.yesMan {
	color: #81C784;
}

.selectorz {
	padding-top: 50px;
}