
<!--Navbar-->
<nav class="navbar navbar-dark bg-primary">

    <!-- Collapse button-->
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx2">
        <i class="fa fa-bars"></i>
    </button>

    <div class="container">

        <!--Collapse content-->
        <div class="collapse navbar-toggleable-xs" id="collapseEx2">
            <!--Navbar Brand-->
            <a class="navbar-brand" href="#">Chung Antibody Database</a>
            <!--Links-->
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/#/create">Add a New Antibody</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://www.chunglab.org/">Chung Lab</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resources</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <a class="dropdown-item" href="http://www.chunglabresources.com/clarity">CLARITY</a>
                        <a class="dropdown-item" href="http://www.chunglabresources.com/sw1#sw-intro">SWITCH</a>
                        <a class="dropdown-item" href="http://www.chunglabresources.com/se1#se-intro">Stochastic Electrotransport</a>
                    </div>
                </li>
            </ul>
            <!--Search form-->
            <form class="form-inline">
                <input type="text" ng-model="query" class="form-control" placeholder="Search">
            </form>
        </div>
        <!--/.Collapse content-->

    </div>

</nav>
<!--/.Navbar-->

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <h1 class="page-header">Add a New Antibody</h1>

      <form>

        <fieldset class="form-group">
          <label for="target">Target</label>
          <input type="text" class="form-control" id="target" placeholder="Target" ng-model="data.target">
        </fieldset>

        <fieldset class="form-group">
          <label for="catalogNumber">Catalog Number</label>
          <input type="text" class="form-control" id="catalogNumber" placeholder="Catalog Number" ng-model="data.catalogNumber">
        </fieldset>

        <fieldset class="form-group">
          <label for="hostSpecies">Host Species</label>
          <select class="form-control" id="sel1" id="hostSpecies" ng-model="data.hostSpecies">
            <option>Human</option>
            <option>Mouse</option>
            <option>Rabbit</option>
            <option>Rat</option>
          </select>
        </fieldset>

        <fieldset class="form-group">
          <label for="reactivity">Reactivity</label>
          <div class="checkboxCSS">
          <div class="checkboxItem">
          <label for="reactivityCow" class="checkboxTitle">Cow</label>
          <input type="checkbox" class="checkbox-inline" id="reactivityCow" ng-model="data.reactivity.Cow">
          </div>
          <div class="checkboxItem">
          <label for="reactivityHuman" class="checkboxTitle">Human</label>
          <input type="checkbox" class="checkbox-inline" id="reactivityHuman" ng-model="data.reactivity.Human">
          </div>
          <div class="checkboxItem">
          <label for="reactivityMouse" class="checkboxTitle">Mouse</label>
          <input type="checkbox" class="checkbox-inline" id="reactivityMouse" ng-model="data.reactivity.Mouse">
          </div>
          <div class="checkboxItem">
          <label for="reactivityPig" class="checkboxTitle">Pig</label>
          <input type="checkbox" class="checkbox-inline" id="reactivityPig" ng-model="data.reactivity.Pig">
          </div>
          <div class="checkboxItem">
          <label for="reactivityRat" class="checkboxTitle">Rat</label>
          <input type="checkbox" class="checkbox-inline" id="reactivityRat" ng-model="data.reactivity.Rat">
          </div>
          </div>
        </fieldset>

        <fieldset class="form-group">
        <label>Compatibility</label>
         <div class="checkboxCSS">
         <div class="checkboxItem">
          <label for="clarityComp" class="checkboxTitle">CLARITY</label>
          <input type = "checkbox" class="checkbox-inline" id="clarityComp" placeholder="Compatibility" ng-model="data.compatibility.CLARITY">
          </div>
          <div class="checkboxItem">
          <label for="switchComp" class="checkboxTitle">SWITCH</label>
          <input type = "checkbox" class="checkbox-inline" id="switchComp" placeholder="Compatibility" ng-model="data.compatibility.SWITCH">
          </div>
          <div class="checkboxItem">
          <label for="mapComp" class="checkboxTitle">MAP</label>
          <input type = "checkbox" class="checkbox-inline" id="mapComp" placeholder="Compatibility" ng-model="data.compatibility.MAP">
          </div>
        </div>
        </fieldset>

        <fieldset class="form-group">
          <label for="vendorWebiste">Vendor Website</label>
          <input type="text" class="form-control" id="vendorWebsite" placeholder="Enter the URL" ng-model="data.vendorWebsite">
        </fieldset>

       <!-- <fieldset class="form-group">
          <label for="image">Publication Upload</label>
          <input type="file" class="filswe" id="image" placeholder="Image" ng-model="data.image" base-sixty-four-input>
        </fieldset> -->

        <fieldset class="form-group">
          <label for="image">Image Upload</label>
          <input type="file" class="filswe" id="image" placeholder="Image" ng-model="data.image" base-sixty-four-input>
        </fieldset>

        <button type="submit" class="btn btn-primary" ng-click="submit()">Create Antibody</button>

      </form>

    </div>
  </div>
</div>
