<div class="navigationBar">
<!--Navbar-->
<nav class="navbar navbar-dark bg-primary">

    <!-- Collapse button-->
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx2">
        <i class="fa fa-bars"></i>
    </button>

    <div class="container">

        <!--Collapse content-->
        <div class="collapse navbar-toggleable-xs" id="collapseEx2">
            <!--Navbar Brand-->
            <a class="navbar-brand" href="#">Chung Antibody Database</a>
            <!--Links-->
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/#/create">Add a New Antibody<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://www.chunglab.org/">Chung Lab</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resources</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <a class="dropdown-item" href="http://www.chunglabresources.com/clarity">CLARITY</a>
                        <a class="dropdown-item" href="http://www.chunglabresources.com/sw1#sw-intro">SWITCH</a>
                        <a class="dropdown-item" href="http://www.chunglabresources.com/se1#se-intro">Stochastic Electrotransport</a>
                    </div>
                </li>
            </ul>
        </div>
        <!--/.Collapse content-->

    </div>

</nav>
<!--/.Navbar-->
</div>

<h1 class="page-header createTitle">Add a New Antibody</h1>

<form>
    <div class="col-md-6 col-md-offset-3">

        <div class="md-form"> <!--Left-->
          <input type="text" class="form-control" id="target" ng-model="data.target">
          <label for="target">Target</label>
        </div>

         <div class="md-form">
          <input type="text" class="form-control" id="vendorName" ng-model="data.vendorName">
          <label for="catalogNumber">Vendor Name</label>
        </div>

        <div class="md-form">
          <input type="text" class="form-control" id="catalogNumber" ng-model="data.catalogNumber">
          <label for="catalogNumber">Catalog Number</label>
        </div>

         <div class="md-form">
          <input type="text" class="form-control" id="vendorWebsite" ng-model="data.vendorWebsite">
          <label for="vendorWebsite">Product URL</label>
        </div>

        <fieldset class="form-group formElement">
          <label for="hostSpecies" class="formTitle">Host Species</label>
          <select class="form-control" id="sel1" id="hostSpecies" ng-model="data.hostSpecies">
            <option>Human</option>
            <option>Mouse</option>
            <option>Rabbit</option>
            <option>Rat</option>
          </select>
        </fieldset>
    </div>
    
    <div class="col-md-3"> <!--Right-->
        <fieldset class="form-group formElement">
        <ul class="protocol">
        <li>
        <label class="formTitle">CLARITY</label>
        <label for="clarity">Compatibility?</label>
        <select class="compatibilityOptions" id="clarity" ng-model="data.clarity">
            <option>Yes</option>
            <option>No</option>
            <option>Untested</option>
        </select>
        </li>
          <fieldset class="form-group formElement">
            <label for="reactivityC">Reactivity?</label>
            <div class="checkboxCSS">
            <div class="checkboxItem">
            <input type="checkbox" class="checkbox-inline" id="reactivityCmonkey" ng-model="data.reactivityC.Monkey">
              <label for="reactivityCmonkey" class="checkboxTitle">Monkey</label>
            </div>
            <div class="checkboxItem">
            <input type="checkbox" class="checkbox-inline" id="reactivityChuman" ng-model="data.reactivityC.Human">
              <label for="reactivityChuman" class="checkboxTitle">Human</label>
            </div>
            <div class="checkboxItem">
            <input type="checkbox" class="checkbox-inline" id="reactivityCmouse" ng-model="data.reactivityC.Mouse">
              <label for="reactivityCmouse" class="checkboxTitle">Mouse</label>
            </div>
            <div class="checkboxItem">
            <input type="checkbox" class="checkbox-inline" id="reactivityCmarmoset" ng-model="data.reactivityC.Marmoset">
              <label for="reactivityCmarmoset" class="checkboxTitle">Marmoset</label>
            </div>
            <div class="checkboxItem">
            <input type="checkbox" class="checkbox-inline" id="reactivityCrat" ng-model="data.reactivityC.Rat">
              <label for="reactivityCrat" class="checkboxTitle">Rat</label>
            </div>
            </div>
          </fieldset>

        <li>
        <label class="formTitle">SWITCH</label>
        <label for="switch">Compatibility?</label>
        <select class="compatibilityOptions" id="switch" ng-model="data.switch">
            <option>Yes</option>
            <option>No</option>
            <option>Untested</option>
        </select>
        </li>
          <fieldset class="form-group formElement">
            <label for="reactivityS">Reactivity?</label>
            <div class="checkboxCSS">
            <div class="checkboxItem">
            <input type="checkbox" class="checkbox-inline" id="reactivitySMonkey" ng-model="data.reactivityS.Monkey">
              <label for="reactivitySMonkey" class="checkboxTitle">Monkey</label>
            </div>
            <div class="checkboxItem">
            <input type="checkbox" class="checkbox-inline" id="reactivityShuman" ng-model="data.reactivityS.Human">
              <label for="reactivityShuman" class="checkboxTitle">Human</label>
            </div>
            <div class="checkboxItem">
            <input type="checkbox" class="checkbox-inline" id="reactivitySmouse" ng-model="data.reactivityS.Mouse">
              <label for="reactivitySmouse" class="checkboxTitle">Mouse</label>
            </div>
            <div class="checkboxItem">
            <input type="checkbox" class="checkbox-inline" id="reactivitySMarmoset" ng-model="data.reactivityS.Marmoset">
              <label for="reactivitySMarmoset" class="checkboxTitle">Marmoset</label>
            </div>
            <div class="checkboxItem">
            <input type="checkbox" class="checkbox-inline" id="reactivitySrat" ng-model="data.reactivityS.Rat">
              <label for="reactivitySrat" class="checkboxTitle">Rat</label>
            </div>
            </div>
          </fieldset>

        <li>
        <label class="formTitle">MAP</label>
        <label for="MAP">Compatibility?</label>
        <select class="compatibilityOptions" id="map" ng-model="data.map">
            <option>Yes</option>
            <option>No</option>
            <option>Untested</option>
        </select>
        </li>
          <fieldset class="form-group formElement">
            <label for="reactivityM">Reactivity?</label>
            <div class="checkboxCSS">
            <div class="checkboxItem">
            <input type="checkbox" class="checkbox-inline" id="reactivityMMonkey" ng-model="data.reactivityM.Monkey">
              <label for="reactivityMMonkey" class="checkboxTitle">Monkey</label>
            </div>
            <div class="checkboxItem">
            <input type="checkbox" class="checkbox-inline" id="reactivityMhuman" ng-model="data.reactivityM.Human">
              <label for="reactivityMhuman" class="checkboxTitle">Human</label>
            </div>
            <div class="checkboxItem">
            <input type="checkbox" class="checkbox-inline" id="reactivityMmouse" ng-model="data.reactivityM.Mouse">
              <label for="reactivityMmouse" class="checkboxTitle">Mouse</label>
            </div>
            <div class="checkboxItem">
            <input type="checkbox" class="checkbox-inline" id="reactivityMMarmoset" ng-model="data.reactivityM.Marmoset">
              <label for="reactivityMMarmoset" class="checkboxTitle">Marmoset</label>
            </div>
            <div class="checkboxItem">
            <input type="checkbox" class="checkbox-inline" id="reactivityMrat" ng-model="data.reactivityM.Rat">
              <label for="reactivityMrat" class="checkboxTitle">Rat</label>
            </div>
            </div>
          </fieldset>
        </ul>
        </fieldset>
    </div>

        <button type="default" class="btn btn-primary" type="submit" ng-click="submit()">Add Antibody</button>
 </form>


