<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <h1 class="page-header">Create antibody</h1>

      <form>

        <fieldset class="form-group">
          <label for="target">Target</label>
          <input type="text" class="form-control" id="target" placeholder="Target" ng-model="data.target">
        </fieldset>

        <fieldset class="form-group">
          <label for="catalogNumber">Catalog Number</label>
          <input type="text" class="form-control" id="catalogNumber" placeholder="Catalog Number" ng-model="data.catalogNumber">
        </fieldset>

        <fieldset class="form-group">
          <label for="hostSpecies">Host Species</label>
          <select class="form-control" id="sel1" id="hostSpecies" ng-model="data.hostSpecies">
            <option>Human</option>
            <option>Mouse</option>
            <option>Rabbit</option>
            <option>Rat</option>
          </select>
        </fieldset>

        <fieldset class="form-group">
          <label for="reactivity">Reactivity</label>
          <div class="checkboxCSS">
          <label for="reactivityCow" class="checkboxTitle">Cow</label>
          <input type="checkbox" class="checkbox-inline" id="reactivityCow" ng-model="data.reactivity.Cow">
          <label for="reactivityHuman" class="checkboxTitle">Human</label>
          <input type="checkbox" class="checkbox-inline" id="reactivityHuman" ng-model="data.reactivity.Human">
          <label for="reactivityMouse" class="checkboxTitle">Mouse</label>
          <input type="checkbox" class="checkbox-inline" id="reactivityMouse" ng-model="data.reactivity.Mouse">
          <label for="reactivityPig" class="checkboxTitle">Pig</label>
          <input type="checkbox" class="checkbox-inline" id="reactivityPig" ng-model="data.reactivity.Pig">
          <label for="reactivityRat" class="checkboxTitle">Rat</label>
          <input type="checkbox" class="checkbox-inline" id="reactivityRat" ng-model="data.reactivity.Rat">
          </div>
        </fieldset>

        <fieldset class="form-group">
        <label>Compatibility</label>
         <div class="checkboxCSS">
          <label for="clarityComp" class="checkboxTitle">CLARITY</label>
          <input type = "checkbox" class="checkbox-inline" id="clarityComp" placeholder="Compatibility" ng-model="data.compatibility.CLARITY">
          <label for="switchComp" class="checkboxTitle">SWITCH</label>
          <input type = "checkbox" class="checkbox-inline" id="switchComp" placeholder="Compatibility" ng-model="data.compatibility.SWITCH">
          <label for="mapComp" class="checkboxTitle">MAP</label>
          <input type = "checkbox" class="checkbox-inline" id="mapComp" placeholder="Compatibility" ng-model="data.compatibility.MAP">
        <div class="checkboxCSS">
        </fieldset>

        <fieldset class="form-group">
          <label for="image">Image Upload</label>
          <input type="file" class="filswe" id="image" placeholder="Image" ng-model="data.image" base-sixty-four-input>
        </fieldset>

        <button type="submit" class="btn btn-primary" ng-click="submit()">Create Antibody</button>

      </form>

    </div>
  </div>
</div>
