<div class="navigationBar">
<!--Navbar-->
<nav class="navbar navbar-dark bg-primary">

    <!-- Collapse button-->
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx2">
        <i class="fa fa-bars"></i>
    </button>

    <div class="container">

        <!--Collapse content-->
        <div class="collapse navbar-toggleable-xs" id="collapseEx2">
            <!--Navbar Brand-->
            <a class="navbar-brand" href="#">Chung Antibody Database</a>
            <!--Links-->
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#/create">Add a New Antibody</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://www.chunglab.org/">Chung Lab</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resources</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <a class="dropdown-item" href="http://www.chunglabresources.com/clarity">CLARITY</a>
                        <a class="dropdown-item" href="http://www.chunglabresources.com/sw1#sw-intro">SWITCH</a>
                        <a class="dropdown-item" href="http://www.chunglabresources.com/se1#se-intro">Stochastic Electrotransport</a>
                    </div>
                </li>
            </ul>
        </div>
        <!--/.Collapse content-->

    </div>

</nav>
<!--/.Navbar-->
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <h1 class="page-header createTitle">Editing {{ antibody.target }}</h1>

      <form>

        <div class="md-form">
          <input placeholder="Target" type="text" class="form-control" id="target" ng-model="data.target">
        </div>

        <div class="md-form">
          <input placeholder="Catalog Number" type="text" class="form-control" id="catalogNumber" ng-model="data.catalogNumber">
        </div>

        <fieldset class="form-group formElement">
          <label for="hostSpecies" class="formTitle">Host Species</label>
          <select class="form-control" id="sel1" id="hostSpecies" ng-model="data.hostSpecies">
            <option>Human</option>
            <option>Mouse</option>
            <option>Rabbit</option>
            <option>Rat</option>
          </select>
        </fieldset>

        <fieldset class="form-group formElement">
          <label for="reactivity" class="formTitle">Reactivity</label>
          <div class="checkboxCSS">
          <div class="checkboxItem">
          <input type="checkbox" class="checkbox-inline" id="reactivityCow" ng-model="data.reactivity.Cow">
            <label for="reactivityCow" class="checkboxTitle">Cow</label>
          </div>
          <div class="checkboxItem">
          <input type="checkbox" class="checkbox-inline" id="reactivityHuman" ng-model="data.reactivity.Human">
            <label for="reactivityHuman" class="checkboxTitle">Human</label>
          </div>
          <div class="checkboxItem">
          <input type="checkbox" class="checkbox-inline" id="reactivityMouse" ng-model="data.reactivity.Mouse">
            <label for="reactivityMouse" class="checkboxTitle">Mouse</label>
          </div>
          <div class="checkboxItem">
          <input type="checkbox" class="checkbox-inline" id="reactivityPig" ng-model="data.reactivity.Pig">
            <label for="reactivityPig" class="checkboxTitle">Pig</label>
          </div>
          <div class="checkboxItem">
          <input type="checkbox" class="checkbox-inline" id="reactivityRat" ng-model="data.reactivity.Rat">
            <label for="reactivityRat" class="checkboxTitle">Rat</label>
          </div>
          </div>
        </fieldset>

        <fieldset class="form-group formElement">
        <label class="formTitle">Compatibility</label>
        <ul class="protocol">
        <li>
        <select class="compatibilityOptions" id="clarity" ng-model="data.clarity">
            <option>Yes</option>
            <option>No</option>
            <option>Untested</option>
        </select>
          <label for="clarity">CLARITY</label>
        </li>

        <li>
        <select class="compatibilityOptions" id="switch" ng-model="data.switch">
            <option>Yes</option>
            <option>No</option>
            <option>Untested</option>
        </select>
          <label for="clarity">SWITCH</label>
        </li>

        <li>
        <select class="compatibilityOptions" id="map" ng-model="data.map">
            <option>Yes</option>
            <option>No</option>
            <option>Untested</option>
        </select>
          <label for="clarity">MAP</label>
        </li>
        </ul>
        </fieldset>

        <div class="md-form">
          <input placeholder="Vender Website" type="text" class="form-control" id="vendorWebsite" ng-model="data.vendorWebsite">
        </div>

       <fieldset class="form-group">
          <label for="image">Image Upload</label>
          <input type="file" class="filswe" id="image" placeholder="Image" ng-model="data.image" base-sixty-four-input>
        </fieldset>

        <fieldset class="form-group formElement">
          <label for="image" class="formTitle">Document Upload</label>
          <button ngf-select ng-model="files" ngf-multiple="true">Select</div>

        </fieldset>

        <button type="submit" class="btn btn-primary" ng-click="submit()">Update Antibody</button>

      </form>

    </div>
  </div>
</div>
