<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <h1 class="page-header">Create antibody</h1>

      <form>

        <fieldset class="form-group">
          <label for="target">Target</label>
          <input type="text" class="form-control" id="target" placeholder="Target" ng-model="data.target">
        </fieldset>

        <fieldset class="form-group">
          <label for="catalogNumber">CatalogNumber</label>
          <input type="text" class="form-control" id="catalogNumber" placeholder="CatalogNumber" ng-model="data.catalogNumber">
        </fieldset>

        <button type="submit" class="btn btn-primary" ng-click="submit()">Create Antibody</button>

      </form>

    </div>
  </div>
</div>
