<div class="navigationBar">
<!--Navbar-->
<nav class="navbar navbar-dark bg-primary">

    <!-- Collapse button-->
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx2">
        <i class="fa fa-bars"></i>
    </button>

    <div class="container">

        <!--Collapse content-->
        <div class="collapse navbar-toggleable-xs" id="collapseEx2">
            <!--Navbar Brand-->
            <a class="navbar-brand" href="#">Chung Antibody Database</a>
            <!--Links-->
            <ul class="nav navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#/create">Add a New Antibody</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://www.chunglab.org/">Chung Lab</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resources</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <a class="dropdown-item" href="http://www.chunglabresources.com/clarity">CLARITY</a>
                        <a class="dropdown-item" href="http://www.chunglabresources.com/sw1#sw-intro">SWITCH</a>
                        <a class="dropdown-item" href="http://www.chunglabresources.com/se1#se-intro">Stochastic Electrotransport</a>
                    </div>
                </li>
            </ul>
            <!--Search form-->
            <form class="form-inline">
                <input type="text" ng-model="query" class="form-control" placeholder="Search">
            </form>
        </div>
        <!--/.Collapse content-->

    </div>

</nav>
<!--/.Navbar-->
</div>


<div class="container">
  <div class="row">
    <div class="col-md-12">

      <h1 class="page-header">Antibodies</h1>

      <input type="text" ng-model="query" class="form-control" placeholder="Enter a target, catalog number, or host species" />

      <table class="table table-striped" ts-wrapper>
        <thead>
          <tr>
            <th ts-criteria="target">Target</th>
            <th ts-criteria="catalogNumber">Catalog Number</th>
            <th ts-criteria="hostSpecies">Host Species</th>
            <th>Reactivity</th>
            <th>CLARITY</th>
            <th>SWITCH</th>
            <th>MAP</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="a in data | filter:query" ts-repeat>
            <td><a ng-href="#/profile/{{ a._id  }}">{{ a.target }}</a></td>
            <td>{{ a.catalogNumber }}</td>
            <td>{{ a.hostSpecies }}</td>
            <td>{{ a.reactivity.join(', ') }}</td>
            <td>{{ a.compatibility.clarity }}</td>
            <td>{{ a.compatibility.switch }}</td>
            <td>{{ a.compatibility.map }}</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</div>
