<div class="navigation">
<!--Navbar-->
<nav class="navbar navbar-dark bg-primary">

    <!-- Collapse button-->
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx2">
        <i class="fa fa-bars"></i>
    </button>

    <div class="container">

        <!--Collapse content-->
        <div class="collapse navbar-toggleable-xs" id="collapseEx2">
            <!--Navbar Brand-->
            <a class="navbar-brand" href="#">Chung Antibody Database</a>
            <!--Links-->
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#/create">Add a New Antibody</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://www.chunglab.org/">Chung Lab</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resources</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <a class="dropdown-item" href="http://www.chunglabresources.com/clarity">CLARITY</a>
                        <a class="dropdown-item" href="http://www.chunglabresources.com/sw1#sw-intro">SWITCH</a>
                        <a class="dropdown-item" href="http://www.chunglabresources.com/se1#se-intro">Stochastic Electrotransport</a>
                    </div>
                </li>
            </ul>
        </div>
        <!--/.Collapse content-->

    </div>

</nav>
<!--/.Navbar-->
</div>


<div class="container">
	<div class="row">
  		<div class="col-sm-10"><h1 class="page-header profileTitle">{{ antibody.target }}</h1><a href="#/profile/{{ antibody._id }}/edit" class="btn btn-primary">Edit</a></div>
    </div>
    <div class="row">
  		<div class="col-sm-4"><!--left col-->

      <div class="listDiv">
          <ul class="list-group">
            <li class="list-group-item text-muted">Overview </li>
            <li class="list-group-item"><span class="pull-xs-right">{{ antibody.vendorName }}</span><strong>Vendor Name</strong></li>
            <li class="list-group-item"><span class="pull-xs-right">{{ antibody.catalogNumber }}</span><strong>Catalog Number</strong></li>
            <li class="list-group-item"><span class="pull-xs-right">{{ antibody.hostSpecies }}</span><strong>Host Species</strong></li>
          </ul>
        </div>

        <div class="listDiv">
          <ul class="list-group">
            <li class="list-group-item text-muted">Compatibility</li>
            <li class="list-group-item"><span class="pull-xs-right">{{ antibody.clarity }}</span><strong>CLARITY</strong></li>
            <li class="list-group-item"><span class="pull-xs-right">{{ antibody.switch }}</span><strong>SWITCH</strong></li>
            <li class="list-group-item"><span class="pull-xs-right">{{ antibody.map }}</span><strong>MAP</strong></li>
          </ul>
        </div>

        <div class="listDiv">
          <ul class="list-group">
            <li class="list-group-item text-muted">Relevant Publications</li>
            <a href-"{{ antibody.publication }}" class="list-group-item">Publication #1</a>
          </ul>
        </div>

        <div class="listDiv">
          <ul class="list-group">
            <li class="list-group-item text-muted">Protocols</li>
            <a class="list-group-item" href="https://s3-us-west-2.amazonaws.com/drchung/clarityprotocol.pdf?X-Amz-Date=20160615T204957Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=a39a74dea2fb86d985b98b8723f7e6a100bdce8c120a453b27d594a0dea509d8&X-Amz-Credential=ASIAJK6ZUQY5D2OYHG6Q/20160615/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=FQoDYXdzEJb//////////wEaDKjyoCO8/LuhXwHKvyLHAUm7WipAi/4jCKJv2z2LlwQE4thwc01pxWU3TTtbm9EayFK%2BttVruFpg7NtbJN0q74Tp5jjjLcgrSDXzbnEEF8izP8neDrQlujBwtZyrIc5K%2BIZHzM8lu3fv2lPQZeY2f8ToaVJiJgAwjWTPDdOHJQoMYxB09deh6QT3BSF8cvRhVRjbYj9Y0cPxzG4rKCc0YOcNPHE5vGHY9ZJmhEFmq%2BeDdPLScdp930TcTnu/yBbjT0febSyzrmQQXxilQHdpiPfI%2BDMnKC0ovf6GuwU%3D">CLARITY</a>
            <a class="list-group-item" href="https://s3-us-west-2.amazonaws.com/drchung/switchprotocol.pdf?X-Amz-Date=20160615T205023Z&X-Amz-Expires=300&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Signature=167b1e0f33e16e8e3a9a3ad48e7a47af5cd2cd2f2c1fd27ae4f8b421b3e3609b&X-Amz-Credential=ASIAJK6ZUQY5D2OYHG6Q/20160615/us-west-2/s3/aws4_request&X-Amz-SignedHeaders=Host&x-amz-security-token=FQoDYXdzEJb//////////wEaDKjyoCO8/LuhXwHKvyLHAUm7WipAi/4jCKJv2z2LlwQE4thwc01pxWU3TTtbm9EayFK%2BttVruFpg7NtbJN0q74Tp5jjjLcgrSDXzbnEEF8izP8neDrQlujBwtZyrIc5K%2BIZHzM8lu3fv2lPQZeY2f8ToaVJiJgAwjWTPDdOHJQoMYxB09deh6QT3BSF8cvRhVRjbYj9Y0cPxzG4rKCc0YOcNPHE5vGHY9ZJmhEFmq%2BeDdPLScdp930TcTnu/yBbjT0febSyzrmQQXxilQHdpiPfI%2BDMnKC0ovf6GuwU%3D">SWITCH</a>
          </ul>
        </div>

        <div class="listDiv">
          <ul class="list-group">
            <a class="list-group-item text-muted" ng-href="{{ antibody.vendorWebsite }}"><strong>Purchase from a Selected Vendor</strong></a>
          </ul>
        </div>


        </div><!--/col-4-->

        <div class="col-sm-8">
          <img ng-src="data:image/png;base64,{{ antibody.image }}">
        </div><!--/col-8-->

    </div><!--/row-->
