<div class="navigation">
<!--Navbar-->
<nav class="navbar navbar-dark bg-primary">

    <!-- Collapse button-->
    <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#collapseEx2">
        <i class="fa fa-bars"></i>
    </button>

    <div class="container">

        <!--Collapse content-->
        <div class="collapse navbar-toggleable-xs" id="collapseEx2">
            <!--Navbar Brand-->
            <a class="navbar-brand" href="#">Chung Antibody Database</a>
            <!--Links-->
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/#/create">Add a New Antibody</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://www.chunglab.org/">Chung Lab</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Resources</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <a class="dropdown-item" href="http://www.chunglabresources.com/clarity">CLARITY</a>
                        <a class="dropdown-item" href="http://www.chunglabresources.com/sw1#sw-intro">SWITCH</a>
                        <a class="dropdown-item" href="http://www.chunglabresources.com/se1#se-intro">Stochastic Electrotransport</a>
                    </div>
                </li>
            </ul>
            <!--Search form-->
            <form class="form-inline">
                <input type="text" ng-model="query" class="form-control" placeholder="Search">
            </form>
        </div>
        <!--/.Collapse content-->

    </div>

</nav>
<!--/.Navbar-->
</div>


<div class="container">
	<div class="row">
  		<div class="col-sm-10"><h1 class="page-header">{{ antibody.target }}</h1></div>
    </div>
    <div class="row">
  		<div class="col-sm-4"><!--left col-->

          <ul class="list-group">
            <li class="list-group-item text-muted">Overview </li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Catalog Number</strong></span><span class="pull-right">{{ antibody.catalogNumber }}</span></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Host Species</strong></span><span class="pull-right">{{ antibody.hostSpecies }}</span></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Reactivity</strong></span><span class="pull-right">{{ antibody.reactivity.join(', ') }}</span></li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Compatibility</strong></span><span class="pull-right">{{ antibody.compatibility.join(', ') }}</span></li>
          </ul>

          <div class="panel panel-default">
            <div class="panel-heading">Vendor<i class="fa fa-link fa-1x"></i></div>
            <div class="panel-body"><a ng-href="{{ antibody.vendorWebsite }}">Vendor Website</a></div>
          </div>

          <div class="panel panel-default">
            <div class="panel-heading">Relevant Publications</div>
            <div class="panel-body">              
              <ul class="protocollist">
                <li class="protocol"><a href="website from mongodb">Publication #1</a></li>
                <li class="protocol"><a href="website from mongodb">Publication #2</a></li>
                <li class="protocol"><a href="website from mongodb">Publication #3</a></li>
              </ul>
            </div>
          </div>
          
          <div class="panel panel-default">
            <div class="panel-heading">Protocols</div>
            <div class="panel-body">
              <ul class="protocollist">
                <li class="protocol"><a href="clarityprotocol.pdf">CLARITY</a></li>
                <li class="protocol"><a href="switchprotocol.pdf">SWITCH</a></li>
                <li class="protocol"><a href="website from mongodb">MAP</a></li>
              </ul>
            </div>
          </div>

        </div><!--/col-4-->

        <div class="col-sm-8">
          <img ng-src="data:image/png;base64,{{ antibody.image }}">
        </div><!--/col-8-->

    </div><!--/row-->