.checkboxCSS {
	padding-left: 0px;
}

.checkboxTitle {
	font-weight: 300;
}

.checkboxItem {
	padding-right: 20px;
}

.targetName {
	padding-bottom: 30px;
}

.protocol {
	list-style: none;
	list-style-type: none;

}

.protocollist {
	padding-left: 0px;
}